@media (max-width: 900px) {
  body {
    padding: 2rem;
  }
  details {
    width: 100%;
  }
  summary {
    font-size: 1.8rem;
    padding: 3rem;
  }
  .vocabulare {
    padding: 0.3rem 0 0.3rem 3rem;
  }
  label {
    padding: 0.4rem 0.5rem;
    font-size: 1.6rem;
    line-height: 175%;
  }
}