@font-face {
  font-family: Lato-Regular;
  src: url(/fonts/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: Lato-Bold;
  src: url(/fonts/Lato/Lato-Bold.ttf);
}

@font-face {
  font-family: Lato-Light;
  src: url(/fonts/Lato/Lato-Light.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

/* Динамическое изменение внутреннег отступа, чтобы страница не дергалась при раскрытии карточек */

body {
  padding: 5rem calc(5rem - (100vw - 100%)) 5rem 5rem;
}

h1 {
  font-family: Lato-Light;
  font-size: 3.2rem;
  letter-spacing: 0.4rem;
  text-align: center;
  padding: 1rem;
  margin-bottom: 6rem;
  border: 0.1rem solid rgb(119, 99, 254);
  box-shadow: 0.3rem 0.3rem 0.4rem rgb(184, 184, 184);
}

details {
  width: 40%;
}

summary {
  font-family: Lato-Bold;
  font-size: 1.6rem;
  border: 0.1rem solid rgb(119, 99, 254);
  padding: 1rem;
  margin-bottom: 0.7rem;
  box-shadow: 0.3rem 0.3rem 0.4rem rgb(184, 184, 184);
  transition: 0.2s all;
}

summary::marker {
  color: rgb(119, 99, 254);
}

summary:hover {
  transform: translateY(-0.1em);
}

summary:active {
  transform: translateY(0.1rem);
}

label {
  font-family: Lato-Regular;
  font-size: 1.6rem;
  transition: 0.2s all;
  padding: 0.8rem 1rem;
  cursor: pointer;
}

label::before {
  content: "-";
  margin-right: 1.3rem;
  font-weight: bold;
}

input {
  display: none;
}

input:checked + label {
  background-color: rgb(119, 99, 254);
  color: white;
}

input:checked + label::before {
  content: "+";
}

.vocabulare {
  padding: 1rem 0 1rem 3rem;
}

.vocabulare:hover {
  color: rgb(119, 99, 254);
  border-bottom: 1px solid rgb(119, 99, 254);
}

label:hover > label::before {
  transform: scale(110%);
}

@media (max-width: 900px) {
  body {
    padding: 2rem;
  }
  details {
    width: 100%;
  }
  summary {
    font-size: 1.8rem;
    padding: 3rem;
  }
  .vocabulare {
    padding: 0.3rem 0 0.3rem 3rem;
  }
  label {
    padding: 0.4rem 0.5rem;
    font-size: 1.6rem;
    line-height: 175%;
  }
}
