:root {
  --main-color: rgb(119, 99, 254);
  --shadow-color: rgb(184, 184, 184);
  --second-color: white;
}

@font-face {
  font-family: Lato-Regular;
  src: url(/fonts/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: Lato-Bold;
  src: url(/fonts/Lato/Lato-Bold.ttf);
}

@font-face {
  font-family: Lato-Light;
  src: url(/fonts/Lato/Lato-Light.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

/* Динамическое изменение внутреннег отступа, чтобы страница не дергалась при раскрытии карточек */

body {
  position: relative;
  padding: 5rem calc(5rem - (100vw - 100%)) 2rem 5rem;
}

h1 {
  font-family: Lato-Light;
  font-size: 3.2rem;
  letter-spacing: 0.4rem;
  text-align: center;
  padding: 1rem;
  margin-bottom: 6rem;
  border: 0.1rem solid var(--main-color);
  box-shadow: 0.3rem 0.3rem 0.4rem var(--shadow-color);
  cursor: pointer;
}

details {
  width: 40%;
}

summary {
  font-family: Lato-Bold;
  font-size: 1.6rem;
  border: 0.1rem solid var(--main-color);
  padding: 1rem;
  margin-bottom: 0.7rem;
  box-shadow: 0.3rem 0.3rem 0.4rem var(--shadow-color);
  transition: 0.2s all;
}

summary::marker {
  content: none;
}

i {
  color: var(--main-color);
  margin-right: 10px;
}

summary:hover {
  transform: translateY(-0.1em);
}

summary:active {
  transform: translateY(0.1rem);
}

label {
  font-family: Lato-Regular;
  font-size: 1.6rem;
  transition: 0.2s all;
  padding: 0.8rem 1rem;
  cursor: pointer;
}

label::before {
  content: "-";
  margin-right: 1.3rem;
  font-weight: bold;
}

input {
  display: none;
}

input:checked + label {
  background-color: var(--main-color);
  color: var(--second-color);
}

input:checked + label::before {
  content: "+";
}

.vocabulare {
  padding: 1rem 0 1rem 3rem;
}

.vocabulare:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

label:hover > label::before {
  transform: scale(110%);
}

.settings-panel {
  display: none;
  height: 100%;
  width: 100%;
  background-color: var(--main-color);
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

hr {
  margin: 2rem 0 2rem 0;
}

footer {
  font-size: 1.6rem;
  font-family: Lato-Light;
  text-align: center;
}
