@font-face {
  font-family: Lato-Regular;
  src: url(/fonts/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: Lato-Bold;
  src: url(/fonts/Lato/Lato-Bold.ttf);
}

@font-face {
  font-family: Lato-Light;
  src: url(/fonts/Lato/Lato-Light.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  padding: 5rem;
}

h1 {
  font-family: Lato-Light;
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 6rem;
}

img {
  height: 1.5rem;
}

details {
  width: 40%;
}

summary {
  font-family: Lato-Bold;
  font-size: 1.6rem;
  /* background-color: rgba(120, 99, 254, 0); */
  border: 0.1rem solid rgb(119, 99, 254);
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0.3rem 0.3rem 0.4rem rgb(184, 184, 184);
  transition: 0.2s all;
}

summary::marker {
  color: rgb(119, 99, 254);
}

summary:hover {
  transform: translateY(-0.1em);
}

summary:active {
  transform: translateY(0.1rem);
}

ul {
  padding-left: 4rem;
}

li,
label {
  display: block;
  padding: 1rem 0 1rem 3rem;
  font-family: Lato-Regular;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  transition: 0.2s all;
}

input {
  display: none;
}

input:checked + label {
  background-color: rgb(119, 99, 254);
  color: white;
}

label:hover {
  background-color: rgb(119, 99, 254);
  color: white;
  cursor: pointer;
}
